* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Belanosima", sans-serif !important;
}


img {
  max-width: 500%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
.video-container{
  position: fixed;
  transform: translate(0, -50%);
  width:40%;
  height: 0;
  padding-bottom:16%;
  top: 50%;
  right: 10%;
  bottom: 10%;
  z-index: 1;

}
.video-container iframe{

  width: 100%;
  height: 100%;
  position:absolute;
 
}


body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-menu-container {
  display: none;
  z-index: 2;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 2;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #E1AEFF;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  z-index: 2;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.home-banner-container {
  position:relative;
  display: flex;
  padding-top: 3rem;
  flex-direction: column-reverse;
}
.home-bannerImage-container {
 position: absolute;
 top:-100px;
 right: -170px;
 z-index: -2;
 max-width: 700px;

}
.home-image-section {
  flex: 1;
  text-align: right;
  margin-top: -280px;
  max-width: 3000px;
  z-index: 2;
  
  
  
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}
.primary-heading {
  font-size: clamp(4rem, 5vw, 4rem);
  color: #E1AEFF;
  /* line-height: 5rem; */
  max-width: 600px;
  z-index: 2;
  
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #2B2730;
  margin: 1.5rem 0rem;
  z-index: 2;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #9336B4;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #E1AEFF;
}

.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}


@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  
  .home-image-section {
    width: 100%;
    max-width: 400px;
    
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
 
 
  .primary-subheading {
    text-align: center;
  }

  
  
  
  
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 760px) {
  .home-banner-container {
    flex-direction: column;
    align-items: center;
  }

  .home-text-section {
    order: 2;
  }

  .home-image-section {
    order: 1;
    text-align: center;
  }

  .video-container {
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
  }
}




